.dsmeta-blue-btn {
    height: 45px;
    width: 45px;
    background: rgba(59, 160, 255, 0.1);
    border: 1px solid #3ba0ff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dsmeta-blue-btn img {
    width: 19px;
}